* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
img {
    vertical-align: middle;
}
/* --------초기화-------- */

header {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    z-index: 1000;
    position: relative;
}

.header-logo {
    padding: 30px;
}

.in-header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 1200px;
}

.dropdown {
    height: 50px;
    margin-top: 30px;
}

.main {
    display: flex;
}

.main > ul > li > ul {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.main > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    background-color: rgba(102, 255, 0, 0.596);
}

.main > ul > li > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    transition: 0.5s ease;
    background-color: rgba(102, 255, 0, 0.596);
}

.main > ul > li > ul > li > a:hover {
    background-color: #013fc9;
    color: #fff;
}

.main > ul > li:hover ul {
    height: 250px;
}

/* --------slide-------- */

section {
    display: flex;
    justify-content: center;
}

.slide > ul {
    display: flex;
    animation: cksgur 10s infinite;
}

.slide {
    overflow: hidden;
    width: 1200px;
}

.slide > img {
    z-index: 50;
}

@keyframes cksgur {
    0%{transform: translateX(0%);}
    15%{transform: translateX(0%);}
    25%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    60%{transform: translateX(-200%);}
    85%{transform: translateX(-200%);}
    95%{transform: translateX(-300%);}
    99.9999%{transform: translateX(-300%);}
    100%{transform: translateX(0%);}
}

/* ---------slide--------- */

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.notice {
    display: flex;
}

.notice > ul > li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 31px;
    border-bottom: 1px solid;
}

.notice > ul > li:nth-child(1) {
    border-top: 3px solid greenyellow;
}

.gallery {
    width: 200px;
}

.gallery > ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.gallery-t {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 60px;
}

.gallery-t > h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
    background-color: rgba(102, 51, 153, 0.24);
}

.banner img {
    width: 380px;
    height: 180px;
}

.banner {
    position: relative;
}

.banner-in {
    position: absolute;
    width: 380px;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.349);
    transition: .3s;

}

.banner-in:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* ---------footer--------- */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.425);
}

.footer-sns ul {
    display: flex;
    width: 200px;
}

.footer-sns > ul > li {
    padding: 10px;
}

/* ---------pop-------- */

.layer {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.192);
}

.layer > div {
    position: absolute;
    width: 500px;
    height: 200px;
    margin-top: 13%;
    margin-left: 35%;
    background-color: #fff;
    z-index: 100;
}

.layer > div > h3 {
    text-align: center;
}

.pop-text {
    text-align: justify;
    padding: 7px;
}

.close {
    float: right;
    padding: 20px;
}