@charset "uth-8";
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: middle;
}
/* -----------초기화----------- */

.container {
    display: flex;
}

header {
    position: relative;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: rgb(28, 104, 204);
}

.header_logo img {
    width: 150px;
    height: 150px;
    padding: 25px;
}

/* --------dropdown-------- */

.dropdown {
    display: flex;
    justify-content: center;
}

.dropdown a {
    display: inline-block;
    width: 200px;
}

.main > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: rgba(10, 170, 245, 0.801);
}

.main > ul > li > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    /* background-color: lightgray; */
}

.main > ul > li > ul > li {
    /* display: flex; */
    position: absolute;
    /* right: 0px; */
    /* width: 0px; */
}

/* .main > ul > li > ul:hover {
    
} */

/* ---------banner---------- */

nav {
    width: 400px;
    height: calc(100vh - 100px);
}

.banner1 {
    position: relative;
    width: 400px;
    height: 150px;
    background-color: lightgray;
}

.banner1-in img {
    width: 100px;
    height: 100px;
    margin-top: 23px;
    margin-left: 5px;
}

.banner1-in > .arrow {
    width: 50px;
    height: 70px;
    margin-left: 60%;
}

.banner1-t {
    position: absolute;
    left: 30%;
    top: 25%;
}

.banner1-t p {
    width: 300px;
    margin-bottom: 100px;
    font-size: 13px;
}

.notice-btn {
    position: absolute;
    left: 8.8%;
    top: 12.4%;
    background-color: rgba(0, 81, 255, 0.555);
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.notice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}

.notice > ul > li {
    width: 340px;
    height: 40px;
    margin-left: 13.5%;
    border-bottom: 1px solid;
}

.notice > ul > li:nth-child(1){
    border-top: 3px solid rgba(0, 81, 255, 0.644);
}

.flex-p {
    display: flex;
    justify-content: space-between;
    width: 330px;
    margin-left: 5px;
    line-height: 40px;
}


.gallery {
    position: relative;
}

.gallery-btn {
    position: absolute;
    top: 7%;
    left: 5%;
    border-bottom: 3px solid orange;
    width: 360px;
    text-align: start;
}

.gallery-btn p {
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: orange;
}

.gallery > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.gallery > ul p {
    text-align: center;
}

.gallery img {
    width: 150px;
    height: 130px;
}


/* --------slide--------- */

.slide {
    overflow: hidden;
    height: calc(100vh - 100px);
    width: calc(100vw - 200px - 400px);
}

.slide > ul  {
    animation: move 10s infinite;
}

.slide img {
    width: 100%;
    height: calc(100vh - 100px);
}

@keyframes move {
    0%{transform: translateY(0%);}
    15%{transform: translateY(0%);}
    25%{transform: translateY(-25%);}
    50%{transform: translateY(-25%);}
    60%{transform: translateY(-50%);}
    85%{transform: translateY(-50%);}
    95%{transform: translateY(-75%);}
    99.9999%{transform: translateY(-75%);}
    100%{transform: translateY(0%);}
}

/* ------------footer------------- */

.footer_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(83, 83, 83, 0.76);
    height: 100px;
}

.footer-logo {
    padding: 20px;
}

.footer-sns ul{
    display: flex;
}

.footer-sns img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.footer_main > b {
    font-size: 13px;
}

/* ----------pop---------- */

.layer {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 100;
}

.pop {
    width: 400px;
    height: 500px;
    margin: 10% auto;
    background-color: #fff;
}

.pop h3 {
    text-align: center;
}

.pop > img {
    margin-left: 13%;
}

.close {
    float: right;
    padding: 8px;
}